{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Principal": {
                "AWS": "{{ aws_caller_info_r.arn }}"
            },
            "Action": "sts:AssumeRole",
            "Condition": {}
        }
    ]
}
