name: Build and test containers

on:
  pull_request:
  push:

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        container: [api, feed, gis, ui, web]
    steps:
      - name: Set up QEmu
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and export image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64, linux/arm64
          push: true
          tags: ghcr.io/${{ github.repository }}-${{ matrix.container }}:latest
          context: "{{defaultContext}}:${{ matrix.container }}"
